/* ****************** general styling ****************** */

/* general */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  _font-family: "Finnmark-Regular", sans-serif;
  font-family: "Spartan", sans-serif;
  background-color: #f8f9ff;
  font-size: 15px;
  -webkit-print-color-adjust: exact;
}

@media screen and (min-width: 700px) {
  html {
    font-size: 18px;
  }
  main article {
    padding-top: 1.5rem;
    margin-top: 3.5rem;
  }
}

@media (min-width: 900px) {
  html {
    font-size: 22px;
  }
  main article {
    padding-top: 1.5rem;
    margin-top: 3.5rem;
  }
  .hireMe {
    position: fixed;
  }
}

@media print {
  nav,
  .hireMe {
    display: none;
  }
  .mainHeader {
    background-color: #d8c7d3;
    padding: 0;
    text-align: center;
    position: relative;
  }
}

/* fonts */

/* @font-face { 
  font-family: "Finnmark-Regular";
  src: url("Finnmark-Regular.woff");
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
  _font-family: "Finnmark-Regular", sans-serif;
  font-family: "Spartan", sans-serif;
}

/* other */

main {
  max-width: 60ch;
  padding-left: 2rem;
  margin: 0 auto;
}

main > * + * {
  padding-top: 1.5rem;
  margin-top: 2.5rem;
  border-top: 0.3rem solid #d8c7d3;
}

main > * {
  padding: 0 1rem;
}

*::selection {
  background-color: #dee2ff;
}

/* ****************** specific styling ****************** */

/* Headers */

.mainHeader {
  background-color: #d8c7d3;
  padding: 4.8rem 1.6rem;
  text-align: center;
  position: relative;
}

.mainHeader p::after {
  content: "🦊";
  padding-left: 0.5rem;
}

.headingGroup {
  font-size: 3rem;
}

.mainHeading {
  font-size: 1em;
}

.profession {
  font-size: 0.5em;
}

.xpHeader {
  display: inline-block;
}

.xpSubheader {
  display: inline-block;
  font-size: small;
}

.eduHeader {
  display: inline-block;
}

.eduSubheader {
  display: inline-block;
  font-size: small;
}

/* nav/links */

.mainNav a {
  color: black;
  margin: 1rem;
  padding: 0.7rem;
  border: 0.2rem solid #dee2ff;
  border-radius: 0.4rem;
  transition: 0.3s;
  display: inline-block;
}

nav > a:hover {
  background-color: #dee2ff;
  transition: 0.3s;
}

nav > a:active {
  background-color: #99a5ff;
  border: 0.2rem solid #99a5ff;
  border-radius: 0.4rem;
}

a {
  text-decoration: none;
}

/* contact info */

.contact a {
  color: black;
}

.contact + .contact {
  margin-top: 1.5rem;
}

.contact > a:hover {
  background-color: #dee2ff;
  padding: 0.5rem;
  margin-top: 0.7rem;
}

.contact > a:active {
  background-color: #99a5ff;
  outline: 0.2rem solid #99a5ff;
}

/* other */

#profile {
  margin-top: 2.5rem;
}

.artHeader {
  position: relative;
  left: -1rem;
  margin-top: 2.5rem;
}

.hireMe {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: #dee2ff;
  color: black;
}

header .profession {
  margin: 0;
}

_body * {
  outline: 2px solid red;
}
