/* ****************** general styling ****************** */

/* general */

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  _font-family: "Finnmark-Regular", sans-serif;
  font-family: "Spartan", sans-serif;
  background-color: var(--site-backgroundcolor);
  font-size: 15px;
  -webkit-print-color-adjust: exact;
}

/* fonts */

/* @font-face { 
  font-family: "Finnmark-Regular";
  src: url("Finnmark-Regular.woff");
}*/

h1,
h2,
h3,
h4,
h5,
h6 {
  _font-family: "Finnmark-Regular", sans-serif;
  font-family: "Spartan", sans-serif;
}

/* other */

main {
  max-width: 60ch;
  padding-left: 2rem;
  margin: 0 auto;
}

main > * + * {
  padding-top: 1.5rem;
  margin-top: 2.5rem;
  border-top: 0.3rem solid var(--main-sitecolor);
}

main > * {
  padding: 0 1rem;
}

*::selection {
  background-color: var(--second-color);
}

body {
  --main-sitecolor: #d8c7d3;
  --gradient-color: #c4abbd;
  --second-color: #dee2ff;
  --second-subcolor: #99a5ff;
  --focus-color: #729ea1;
  --site-backgroundcolor: #f8f9ff;
  --normalize-textcolor: black;
  --outline-supportcolor: red;
  --dark-backgroundcolor: ;
  --dark-textcolor: ;
  --dark-main-sitecolor: ;
  --dark-gradient-color: ;
}

/* ****************** specific styling ****************** */

/* Headers */

.mainHeader {
  background-color: var(--main-sitecolor);
  padding: 4.8rem 1.6rem;
  text-align: center;
  position: relative;
  background: linear-gradient(var(--gradient-color), var(--main-sitecolor));
}

.mainHeader p::after {
  content: "🦊";
  padding-left: 0.5rem;
}

.headingGroup {
  font-size: 3rem;
}

.mainHeading {
  font-size: 1em;
}

.profession {
  font-size: 0.5em;
}

.xpHeading {
  display: flex;
  flex-direction: column;
}

.xpSubheader {
  font-size: small;
}

.eduHeading {
  display: flex;
  flex-direction: column;
}

.eduSubheader {
  font-size: small;
}

/* nav/links */

.mainNav a {
  color: var(--normalize-textcolor);
  margin: 1rem;
  padding: 0.7rem;
  border: 0.2rem solid var(--second-color);
  border-radius: 0.4rem;
  transition: 0.3s;
  display: inline-block;
}

.mainNav {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav > a:hover {
  background-color: var(--second-color);
}

nav > a:active {
  background-color: var(--second-subcolor);
  border: 0.2rem solid var(--second-subcolor);
  border-radius: 0.4rem;
}

nav > a:focus {
  border: 0.5rem solid var(--focus-color);
  border-radius: 0.4rem;
}

a {
  text-decoration: none;
}

/* main */

/* contact info */

.contact a {
  color: var(--normalize-textcolor);
}

.contact + .contact {
  margin-top: 1.5rem;
}

.contact > a:hover {
  background-color: var(--second-color);
  padding: 0.5rem;
  margin-top: 0.7rem;
}

.contact > a:active {
  background-color: var(--second-subcolor);
  outline: 0.2rem solid var(--second-subcolor);
}

.contact > a:focus {
  padding: 0.3rem;
  border: 0.3rem solid var(--focus-color);
  border-radius: 0.4rem;
}

/* footer */

footer {
  background: linear-gradient(var(--main-sitecolor), var(--gradient-color));
  margin-top: 3rem;
  padding: 2rem;
}

.footerText {
  text-align: center;
  margin: 0;
}

.footerLink {
  color: var(--normalize-textcolor);
  border: 0.2rem solid var(--second-color);
  border-radius: 0.4rem;
  margin: 1rem;
  padding: 0.5rem;
  transition: 0.3s;
}

.footerLink:hover {
  background-color: var(--second-color);
}

.footerLink:active {
  background-color: var(--second-subcolor);
  border: 0.2rem solid var(--second-subcolor);
  border-radius: 0.4rem;
}

.footerLink:focus {
  border: 0.5rem solid var(--focus-color);
  border-radius: 0.4rem;
}

/* other */

#profile {
  margin-top: 2rem;
}

.artHeader {
  position: relative;
  left: -1rem;
  margin-top: 1.5rem;
}

.hireMe {
  position: absolute;
  right: 1.6rem;
  top: 1.6rem;
  padding: 0.8rem;
  border-radius: 0.4rem;
  background: var(--second-color);
  color: var(--normalize-textcolor);
  transition: transform 0.5s;
}

.mainHeader:hover .hireMe {
  transform: scale(120%);
}

header .profession {
  margin: 0;
}

_body * {
  outline: 2px solid var(--outline-supportcolor);
}

.contentWrapper {
  margin-top: 2.5rem;
}

@media screen and (min-width: 700px) {
  html {
    font-size: 18px;
  }
  main article {
    padding-top: 1.5rem;
    margin-top: 3.5rem;
  }
  .mainNav {
    flex-direction: row;
    justify-content: center;
  }
  .xpHeading {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
  }
  .mainArticle {
    display: grid;
    grid-template-columns: 0.4fr 1fr;
  }
}

@media (min-width: 900px) {
  html {
    font-size: 22px;
  }
  main article {
    padding-top: 1.5rem;
    margin-top: 3.5rem;
  }
  .hireMe {
    position: absolute;
  }
}

@media print {
  nav,
  .hireMe {
    display: none;
  }
  .mainHeader {
    background-color: var(--main-sitecolor);
    padding: 0;
    text-align: center;
    position: relative;
  }
}

@media screen and (prefers-color-scheme: dark) {
  body {
    _background-color: black;
    _color: white;
  }
}
